* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  outline: 0;
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

h1 {
  margin: 0px;
  font-size: 48px;
  font-weight: 300;
  text-align: center;
}

h2 {
  margin: 0px;
  font-weight: 400;
  color: #3EB5F1;
}

h3, p {
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  outline: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.content-container {
  margin: 0 auto;
  width: 1170px;
}

img {
  max-width: 100%;
}

input::-webkit-input-placeholder {
  color: #D5D5D5;
}

input::-moz-placeholder {
  color: #D5D5D5;
}

input:-ms-input-placeholder {
  color: #D5D5D5;
}

.header {
  background: #ffffff;
  padding: 30px 0px;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-text__name {
  font-size: 24px;
  color: #2F4858;
}

.header-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.header-mail__text {
  margin-left: 13px;
}

.header-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  background: #2F4858;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-list__item {
  margin-right: 55px;
}

.menu-list__link {
  position: relative;
  font-size: 24px;
  line-height: 70px;
  color: #fff;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.menu-list__link:hover {
  color: #3EB5F1;
}

.menu-list__link:hover:before {
  content: "";
  position: absolute;
  bottom: -21.5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #3EB5F1;
}

.slider {
  position: relative;
}

.slider-block__item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px !important;
}

.slider-block__text {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  background: #2F4858;
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  height: 218px;
}

.slider-block__image {
  margin-left: 15px;
}

.slider-background__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/slider-image.jpg") no-repeat;
  background-size: 100% 600px;
}

.slider-background__two {
  background: url("../img/slider-image2.jpg") no-repeat;
  background-size: 100% 100%;
}

.slider-background__three {
  background: url("../img/slider-image3.jpg") no-repeat;
  background-size: 100% 100%;
}

.slider-text {
  padding-left: 46px;
  color: #ffffff;
  font-size: 48px;
  font-weight: 200;
}

.slider-button {
  position: absolute;
  bottom: 10px;
  left: 18.5%;
}

.info {
  background: #2F4858;
}

.info-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-block__num {
  margin-top: 40px;
  font-size: 48px;
  color: #3EB5F1;
}

.info-block__text {
  max-width: 265px;
  margin-top: 5px;
  margin-bottom: 35px;
  color: #fff;
  font-size: 16px;
}

.info-block__decorate {
  color: #3EB5F1;
  margin-right: 5px;
}

.presentation {
  padding-top: 50px;
  background: #ffff;
}

.presentation-title {
  text-align: center;
}

.presentation-title span {
  margin-left: 10px;
  color: #3EB5F1;
  font-weight: 400;
}

.presentation-list {
  padding: 0 80px 50px;
}

.presentation-list__item {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #D5D5D5;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  height: 100%;
  min-height: 397px;
}

.presentation-list__item:nth-child(2n+1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.presentation-list__text {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  font-size: 16px;
  font-weight: 500;
  line-height: 178%;
  letter-spacing: 0.005em;
}

.test {
  padding: 50px 0px;
  background: #ffff;
}

.test-name {
  text-align: center;
}

.test-name span {
  margin-left: 10px;
  color: #3EB5F1;
  font-weight: 300;
}

.test-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.test-phone {
  margin-right: 150px;
}

.test-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.test-form__wrp {
  margin-top: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 40px 30px;
}

.test-form__tcm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.test-form__title {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.test-form__name {
  margin-top: 25px;
  border: 1px solid #D5D5D5;
  border-radius: 2px;
  padding: 12px 16px;
}

.test-form__email {
  margin-top: 18px;
  padding: 12px 16px;
  border: 1px solid #D5D5D5;
  border-radius: 2px;
}

.test-form__button {
  margin-top: 12px;
  color: #fff;
  font-size: 14px;
  padding: 14px 94px;
  background: #2F4858;
  border-radius: 2px;
}

.test-form__info {
  margin-top: 12px;
  max-width: 266px;
  color: #D5D5D5;
  font-size: 12px;
}

.test-form__info span {
  color: #3EB5F1;
}

.test-title {
  text-align: left;
  width: 100%;
  max-width: 358px;
  font-size: 24px;
  font-weight: 500;
}

.test-title__wrp {
  margin-top: 44px;
}

.test-phone {
  margin-top: 14px;
}

.test-phone a {
  margin-left: 5px;
}

.test-mail {
  margin: 10px 0px;
}

.test-mail a {
  margin-left: 12px;
}

.test-place {
  font-weight: 500;
}

.tariff {
  background: #fff;
}

.tariff-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tariff-item {
  margin: 50px 0px 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 370px;
  height: 614px;
  padding: 63px 40px;
  border: 1px solid #D5D5D5;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.tariff-item__title {
  margin-top: 40px;
  color: #2F4858;
  text-align: center;
  font-size: 34px;
}

.tariff-item__text {
  margin-top: 16px;
  width: 100%;
  max-width: 237px;
  text-align: center;
  font-size: 16px;
  line-height: 178%;
}

.tariff-item__text span {
  color: #3EB5F1;
}

.tariff-item__image {
  max-width: 178px;
  height: 178px;
}

.tariff-item__price span {
  color: #3EB5F1;
}

.price-first {
  font-size: 42px;
  margin-top: 146px;
}

.price-second {
  font-size: 34px;
  margin-top: 94px;
}

.price-three {
  font-size: 42px;
  margin-top: 35px;
}

.contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 153px;
}

.settings-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.settings-list__item {
  padding: 45px 25px 24px;
  border: 1px solid #D5D5D5;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  text-align: center;
}

.settings-list__text {
  margin-top: 12px;
  width: 100%;
  max-width: 221px;
  line-height: 178%;
}

.settings-list__image:nth-child(1) {
  margin-top: 26px;
}

.settings-image {
  margin-top: 30px;
}

.viewer {
  margin-top: 50px;
}

.viewer-image {
  margin: 30px 0px;
  text-align: center;
}

.footer {
  background: #3EB5F1;
}

.footer-text {
  font-size: 12px;
  line-height: 60px;
  text-align: center;
  color: #2F4858;
}
/*# sourceMappingURL=style.css.map */