#description
    background: $green
 
.description
    &-block
        position: relative
        padding: 100px 200px 60px
        justify-content: space-evenly
        &__track
            margin-top: 10px
    &-distance
        &__subtitle
            font-size: 14px
    &-button
        border: 3px solid $dark
        font-size: 21px
        max-width: 100%
        width: 250px
        height: 50px
    &-title
        margin-bottom: 10px
    &-track
        &__title
            max-width: 370px
    &-button
        &__right
            margin-top: 30px
        &__left
            margin-top: 87px
