#description
    background: $green
    overflow: hidden
    padding: 70px 0px 50px
.description
    &-block
        position: relative
        &__track
            margin-top: 10px
        &__button
            position: relative
    &-distance
        &__subtitle
            font-size: 14px
    &-button
        position: relative
        border: 4px solid $darknest
        font-size: 21px
        max-width: 100%
        color: $darknest
        @include GothamBold
        width: 300px
        height: 70px
        z-index: 999
        &:after 
          content: ""
          position: absolute
          width: 0%
          height: 100%
          background: $darknest
          left: 0
          top: 0
          z-index: -1
          transition: all ease .3s
        &:hover 
          color: $white
          &:after
            width: 100%
        &__left
            margin-top: 67px
    &-title
        margin-bottom: 10px
    &-track
        &__text
            @include AdobeReg
            font-size: 23px
            span 
              @include AdobeBold
    &-list 
        &__text 
            @include AdobeReg
            font-size: 23px
    &-schedule 
        &__text 
            font-size: 23px 
            @include AdobeReg 
            span 
                @include AdobeBold
    &-wrapper 
        &__right 
            position: relative
            left: 50px

@media (max-width: 1760px)
    .description
     &-button
       &__left
          margin-top: 101px

@media (max-width: 1395px)
    .description
     &-schedule 
        &__text 
          letter-spacing: -0.5px
@media (max-width: 1332px)
    .description
      &-button
       &__left
          margin-top: 30px
@media (max-width: 992px)
    #description
       padding: 50px 0px
    .description 
        &-wrapper 
            &__right 
                left: 0px
@media (max-width: 576px)
    .description
        &-schedule 
          &__text 
              font-size: $textResponse
        &-track
          &__text 
              font-size: $textResponse
        &-list
           &__text
              font-size: $textResponse 
