#footer
    background: $background
    padding: 50px 0px 0px
    overflow: hidden
.footer
    &-bottom 
        &__item 
          &:nth-child(2)
                margin: 0px 150px   
    &-title 
        color: $white
    &-subtitle 
        color: $white
        font-size: 26px
        @include AdobeIt
    &-icon
        &__one
            width: 283px
            height: 174px
        &__two
            width: 202px
            height: 204px
        &__three
            width: 262px
            height: 36px
        &__four
            width: 269px
            height: 119px
        &__five
            width: 259px
            height: 98px
    &-info 
      padding: 0 170px
      background: $darknest
      &__logo
          span 
            color: $white
             font-size: 20px
            @include GothamPro   
      &__text
        color: $white
        @include GothamPro
        border-bottom: 1px solid $white
        font-size: 20px
        &:hover
          color: $text
          border-bottom: 1px solid $text
@media (max-width: 1140px)
  .footer
     &-bottom 
        &__item 
          &:nth-child(2)
                margin: 40px 
@media (max-width: 792px)
   .footer
       &-info 
           padding: 0px 50px
       &-top 
           &__img 
               transform: scale(.75) 
       &-bottom 
           &__item 
             &:nth-child(2)
                margin: 0px 
