.gallery
    &-block
        position: relative
        &__left
            position: relative
            background: url('../img/gallery_1.jpg') no-repeat
            background-size: cover
            overflow: hidden
            &:after
                content: ""
                position: absolute
                right: 0
                top: 0
                width: 2px
                height: 100%
                background: $text
                width: 6px
        &__right
            position: relative
            background: url('../img/gallery_2.jpg') no-repeat
            background-size: cover
            overflow: hidden
        &__text
            padding: 325px 0px
            color: $white
            font-size: 50px
            @include GothamBold
        &__help
            color: $text
            font-size: 25px
            text-align: center
            @include GothamBold
