.location
    &-info
        &__text
            max-width: 490px
            font-size: 20px
            @include AdobeIt
        &__title
            color: $text
        &__button
            border: 3px solid $dark
            max-width: 100%
            font-size: 25px
            width: 280px
            height: 70px
            @include GothamBold
