#prizes
    background: $dakrnest
    padding: 100px 0px
    overflow: hidden
.prizes
    &-block
        &__title
            color: $white
            max-width: 450px
        &__text
            color: $white
            font-size: 22px
            @include AdobeReg
@media (max-width: 765px)
    .prizes
        &-block 
          &__text
              max-width: 550px
