#prizes
    background: $darknest
    padding: 70px 0px
    overflow: hidden
.prizes
    &-block
        margin-left: 265px
        &__title
            color: $white
            max-width: 450px
        &__text
            color: $white
            font-size: 22px
            @include AdobeReg
@media (max-width: 1200px)
    .prizes
        &-block 
            margin-left: 0px
@media (max-width: 765px)
    .prizes
        &-block 
          &__text
              max-width: 550px
@media (max-width: 576px)
    .prizes
        &-block 
          &__text
             font-size: $textResponse
