@font-face
    font-family: "Adobe Text Pro Bold"
    src: url('../fonts/AdobeTextPro-Bold.ttf') format('truetype')
@font-face
    font-family: "Adobe Text Pro Regular"
    src: url('../fonts/AdobeTextPro-Regular.ttf') format('truetype')
@font-face
    font-family: 'Adobe Text Pro Italic'
    src: url('../fonts/AdobeTextPro-It.ttf') format('truetype')
@font-face
    font-family: "Gotham Pro"
    src: url('../fonts/GothamPro.ttf') format('truetype')
@font-face
    font-family: "Gotham Pro Black"
    src: url('../fonts/GothamPro-Black.ttf') format('truetype')
@font-face
    font-family: "Gotham Pro Bold"
    src: url('../fonts/GothamPro-Bold.ttf') format('truetype')
