@media screen and (min-width: 1900px) {
    .slider-top {
        position: relative;
        /*min-height: 1114px;*/
        background: #4a3f45;
        height: 100%;
        max-height: 1500px;
    }
    #slider-top .row.relative.pd-0{
        margin-top: 200px;
    }
    .quote {
        top: 120px;
        /*z-index: 999;*/
    }
}

@media screen and (min-width: 2200px) {
    .slider-top {
        position: relative;
        min-height: 950px;
        background: #4a3f45;
        height: 100%;
        max-height: 1500px;
    }
    .quote {
        top: 400px;
    }
}

@media screen and (max-width: 1900px) {
    #scene {
        left: 0px !important;
    }
    .production-bg-1 {
        margin: 0px auto;
    }
    .production-bg-2 {
        margin: 0px auto;
    }
    .production-bg-2 {
        left: 0px !important;
    }
    .production-bg-3 {
        max-width: 90%;
        width: 100%;
        left: 50%;
        left: 50% !important;
        margin-left: -45%!important;
    }
}
@media screen and (max-width: 1800px) {
   .orders:before {
    right: -10%;
}
}
@media screen and (max-width: 1600px) {
    .production-bg-3 {
        max-width: 100%;
        width: 100%;
        left: 50%;
        left: 50% !important;
        margin-left: -50%!important;
    }
    .production-bg-2 {
        top: 75% !important;
    }
    .production-bg-1 {
        max-width: 120%;
        width: 120%;
        left: 50% !important;
        margin-left: -60%!important;
    }
    .popup_wrapper {
        max-width: 90%;
        left: 50%;
        margin-left: -45%;
        width: 100%;
    }
    .popup_wrapper:after {
        width: 220px;
        height: 230px;
    }
}

@media screen and (max-width: 1420px) {
    .production-bg-1 {
        max-width: 140%;
        width: 140%;
        left: 50% !important;
        margin-left: -70%!important;
    }
    
    .production-bg-3 {
        max-width: 126%;
        width: 126%;
        left: 50% !important;
        margin-left: -63%!important;
    }
    .production-bg-2 {
        top: 82% !important;
    }
    .production-bg-4 {
        margin-left: auto;
        margin-top: 116px;
        margin-right: -162px;
    }
.orders:before {
    right: -18%;
}
}

@media screen and (max-width: 1300px) {
	.info-slider-next {
        right: 20px;
    }
    .info-slider-prev {
        left: 20px;
    }
    .advertising__gallery .advertising__gallery-img {
        /*height: 152px;*/
    }
    .popup_wrapper {
        padding: 55px 55px;
    }
}

@media screen and (max-width: 1200px) {
	.mt-180 {
        margin-top: 0px;
    }
    .production {
        padding-bottom: 200px;
    }
    .fish-content-bg {
        width: 60%;
        margin-left: -126px;
    }
    .fish-img-wrapper {
        width: 50%;
        margin-right: 0px;
        margin-top: -160px;
    }
    .fish-img-wrapper img.fish-arrow {
        left: -76px !important;
    }
    .customers img{
        width: 100%;
    }
    .orders:before {
        right: -34%;
    }
    .order-form button {
        margin: 30px auto 0px;
    }
    .advertising__gallery .advertising__gallery-img {
        width: 25%;
    }
    .header__mail {
        padding-left: 11px;
        padding-right: 0px;
    }
    .popup_wrapper:after {
        z-index: -1;
        top: auto;
    }
    .production-bg-4 {
        width: 294px;
        height: 306px;
    }

}

@media screen and (max-width: 1100px) {
    .checkbox-container {
        width: 70%;
    }
}

@media screen and (max-width: 992px) {
    .offer__item-wrapper{
        margin-bottom: 35px;
    }
    
    .offer__text {
        margin-top: 20px;
        text-align: center;
    }
    .popup_wrapper:after {
        width: 120px;
        height: 130px;
        z-index: -1;
    }
    .checkbox-container {
        width: 100%;
    }
    .production-bg-3 {
        display: none !important;
    }
    .production-bg-1 {
        display: none !important;
    }
    #scene {
        
        bottom: 500px;
    }
    #scene2 {
        bottom: 203px;
        top: auto;
        margin-top: 0px;
        z-index: 2;
        right: -100px;
    }
    .production-wrapper-content {
        margin-top: 50px;
    }
    .offers:after {
        display: none;
    }
    .production .production-content, .production h2, .production .caption, .production .production-photo {
        color: #000;
    }
    .production .color-white {
        color: #7a7377;
    }
    .production {
        padding-bottom: 50px;
    }
    #scene {
        bottom: 22px;
    }
    .fish-paralax, .fish-arrow{
        display: none !important;
    }
    .fish-mob{
        display: block !important;
    }
    .fish-img-wrapper {
        width: 50%;
        margin-right: 44px;
        margin-top: 0px;
    }
    .advertising {
        position: relative;
        padding: 75px 0px 102px;
        background: url(../img/bg-portfolio-2.png) center 0px no-repeat;
        background-size: cover;
    }
    .fish-content-bottom {
        margin-top: 0px;
    }
    .orders:before {
        top: 1031px;
        right: -36%;
    }
    .copyright-left {
        margin-right: 0px;
        display: flex;
        text-align: center;
        width: 100%;
        justify-content: center;
    }
    .copyright-right{
        margin: 0px;
        display: flex;
        text-align: center;
        width: 100%;
        justify-content: center;
    }
    .footer .row{
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        justify-content: center;
    }
    .offers {
        padding-top: 80px;
        background-size: 50%;
        background-position-y: 110%;
    }
    .production {
        margin-top: 50px;
    }
    .advertising p {
        width: 100%;
    }
    .header__phone ,
    .header__mail{
        margin-top: 20px;
    }
    .slider-top{
        height: 850px !important;
    }
    .quote {
        top: 365px;
    }
    .container-button {
        left: 50%;
        margin-left: -224px;
    }
}

@media screen and (max-width: 768px) {
 .orders:before {
    display: none;
}
.menu-btn {
    display: block;
    margin-top: -50px;
}
 .slider-top-slide{
     background-size: 100% 75% !important; 
 }
  .header__burger {
      display: block;
  }

.reviews-bg:after {
    right: -110px;
}
.customers__logo{
    width: 70%;
    margin: 0px auto 20px;
}
#scene2 {
    display: none;
}
.production-bg-2 {
    top: 95% !important;
}

.offers {
    padding-top: 90px;
}
.production {
    margin-bottom: 100px;
}
.production-p {
    width: 100%;
}
.header__caption{
    margin-top: 20px;
}
.header__burger {
    margin-top: -30px;
    height: auto;
    width: 35px;
}
.advertising {
    /*background: url(../img/bg-portfolio-2.png) center 0px no-repeat;*/
}
.customers {
    /*padding: 105px 0px;*/
    padding-top: 0px;
}
#scene {
    height: 100%;
}

.burger-menu {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    border-radius: 2%;
    top: 0px;
    right: -100%;
    background: #f2f2f2;
    width: 100%;
    height: 14.5%;
    transition: all ease .5s;
    z-index: 100000;
}

.burger-menu__list {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.burger-menu__link {
    display: block;
    font-size: 22px;
    margin-top: 5px;
    color: #898487;
}

.burger-menu__link:hover{
    color: #e31e24;;
}


.production-bg-2 {
    top: 80% !important;
}
.slider-top__wrapper {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
}
.quote {
    top: 390px;
}
.left-block ul {
    font-size: 37px;
}
.slider-top__wrapper div {
    padding: 0px;
}
}

@media screen and (max-width: 600px) {
    .advertising__gallery .advertising__gallery-img {
        width: 33.333%;
    }
    .advertising {
        background: #4a3f45;
    }

    .burger-menu {
    
        height: 16.5%;
     
    }
    .slider-top-slide{
        background-size: 100% 67% !important; 
    }
    .fish-content-list:after {
        display: none;
    }

   .left-block ul, .left-block div {
        width: 100%; 
    }
    .fish-content-list {
        text-align: center;
        margin-top: 200px;
    }
    .fish-content-list-2 {
        margin-right: 0px;
    }
    .fish-content-list-2 li {
        width: 100%;
    }
    .fish-content-bg {
        display: none;
    }
    .advertising {
        background: #4a3f45;
    }
    .fish-img-wrapper {
        width: 100%;
        margin-right: 0px;
    }
    .fish-content-list-2 {
        text-align: center;
    }
    .bg-orders:after {
        left: -70px;
        top: -120px;
        z-index: -1;
    }
    .advertising__gallery .advertising__gallery-img {
        width: 33.33333%;
    }
    .tehnologi img{
        margin-top: 20px;
    }
    .tehnologi__title {
        margin-top: 5px;
    }
    .orders-p{
        width: 100%;
    }
    .slider-top{
        min-height: 100%
    }
    .slider-top .left-block button {
        margin-top: 180px;
        margin-bottom: 370px;
        margin-left: 10%;
    }
    .quote {
        top: 280px;
    }
    .bg-orders:after {
   display: none;
}

}

@media screen and (max-width: 576px) {
    .orders:before {
        display: none;
    }
    .quote {
        /*top: -302px;*/
    }

    .left-block__name {

    }

    h2 {
        font-size: 48px;
        position: relative;
        z-index: 999;
        text-align: center;
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        font-size: 38px;
    }
    .slider-top__wrapper div {
        margin: 0px auto;
    }
    .left-block-small ul {
    max-height: 140px;
}

.left-block div h2, .left-block ul li {
    font-size: 28px;
}
.left-block ul, .left-block div {
    padding: 20px 25px 20px;
    /* display: flex; */
    /* align-items: center; */
}
}



