@font-face {
      font-family: 'Ubuntu Light';
      src: url('../fonts/Ubuntu-Light.eot');
      src: url('//fonts/Ubuntu-Light.eot') format('embedded-opentype'),
      url('../fonts/Ubuntu-Light.woff') format('woff'),
      url('../fonts/Ubuntu-Light.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      }
