.head
    width: 100%
    transition: all ease 0.5s
    &-block 
        display: flex
        justify-content: space-around
        align-items: center
    &-nav 
        flex-basis: 40%
        margin-right: 295px
        font-size: 14px
        &__list
            display: flex
            justify-content: space-around
    &-burger 
        display: none
        position: absolute;
        top: 25px;
        width: 26px;
        height: 20px;
        &__btn
            position: relative
            top: 9px
            width: 25px 
            height: 2px 
            background: black
            cursor: pointer
            &:before
                content: ''
                position: absolute
                transform: translateY(7px)
                width: 25px 
                height: 2px 
                background: black
            &:after 
                content: ''
                position: absolute
                transform: translateY(-7px)
                width: 25px 
                height: 2px 
                background: black

.active 
    color: #0099FF
.sticky
    position: fixed
    top: 0
    left: 0
    width: 100%
    background: linear-gradient( #FFFFFF 0%, #F1F8FF 100%)
    z-index: 5
    transition: all ease 2s

