.ask 
  position: relative
  padding: 200px 0px 100px
  overflow: hidden
  &:before
    position: absolute
    top: 40px
    left: -132px
    content: ''
    background: url('../img/ask_ellipse.png')
    width: 262px
    height: 262px
    z-index: 0
  &:after
    position: absolute
    content: ''
    background: url('../img/ask_ellipse.png')
    width: 262px
    right: -125px
    top: 20px
    height: 262px
    z-index: -1
  &-block 
    display: flex
    &:after
      position: absolute
      content: ''
      background: url('../img/ask_ellipse.png')
      width: 262px
      height: 262px
      z-index: -1
      bottom: 50px
      left: 389px
  &-title 
    position: absolute
    top: -82px
  &-list 
    &__item 
      outline: 0
      margin-top: 22px 
      cursor: pointer
    &__wrp 
      flex-basis: 50%
  &-answer 
    &__wrp
      position: relative
      flex-basis: 50%
    &__item 
      border: 50px solid #72DBA3
      box-sizing: border-box
      border-radius: 70px
      padding: 50px 45px
      transition: all ease .3s
      height: auto
      position: relative
      background: #fff
     
    &__text 
      display: none
      position: relative
      max-width: 400px
   
     
.tab-active 
  background: #72DBA3
  border-radius: 15px
  color: #fff !important
  padding: 10px
  

@media (max-width: 992px)
  .ask 
    &:before
      transform: scale(0.82)
    &:after
      transform: scale(0.82)
      top: 426px
    &-answer 
      &__item 
        border: 20px solid #72DBA3
    &-block 
      &:after
        transform: scale(0.7)
        left: 145px
        
@media (max-width: 768px)
   .ask 
     padding: 100px 0px 100px;
     &-block
       display: block
       min-height: 400px
       &:after
         display: none
     &-title 
       top: -150px
       left: 20px
     &-list 
       &__item
         margin: 50px 0px 20px 20px
         outline: 0
         min-height: 24px
       &__text 
         display: block
         max-width: 280px
         padding: 10px
         +light
     &-answer
       &__item
          padding: 27px 10px 
          border-radius: 30px
          min-height: 200px
       &__text
          max-width: 100%
         
       
        
       

