.ask 
  padding: 200px 0px 100px
  &-block 
    display: flex
   
  &-title 
    position: absolute
    top: -82px
  
  &-list 
    &__item 
      margin-top: 22px 
      cursor: pointer
    
    &__wrp 
      flex-basis: 50%
    
  
  &-answer 
    &__wrp
      position: relative
      flex-basis: 50%
    
    &__item 
      border: 50px solid #72DBA3
      box-sizing: border-box
      border-radius: 70px
      padding: 50px 45px
      transition: all ease .3s
      height: 392px
    
    &__text 
      position: absolute
      display: none
      max-width: 400px
    
  

.active 
   display: block
 

.tab-active 
  background: #72DBA3
  border-radius: 15px
  color: #fff
  padding: 10px
