#footer
    padding: 30px 0
    background: #0C4703
.footer
    display: flex
    justify-content: space-between
    &-inform
        display: flex
        flex-basis: 62%
        justify-content: space-between
        &__item
            +light
            color: #fff
        &__link
            +light
            color: #fff
    &-privacy
        &__policy
            text-align: end
            flex-basis: 38%
            color: #fff