.offer 
  background: linear-gradient(0deg, #F7EF99 0.02%, #72DBA3 100.02%)
  padding: 100px 0
  &-block 
    margin-top: 60px
  &-item 
    padding: 52px 105px
    background: #FFFFFF
    border-radius: 70px
    flex-basis: 50%
    &__title 
      text-align: center
    &__cost
      margin-top: 50px
  &-list 
    display: flex
    flex-wrap: wrap
  &-wrp
    &__cost
      display: flex
      justify-content: space-between
    &__description
      margin-top: 24px 
  &-delivery
   &__radio
     margin-top: 20px
   &__price
       float: right
       margin-top: 17px

   
  


