@font-face {
font-family: 'Circe Extra Light';
src: url('../fonts/circleLight/Circe-Light.eot');
src: url('../fonts/circleLight/Circe-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/circleLight/Circe-Light.woff') format('woff'),
url('../fonts/circleLight/Circe-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Circe Regular';
src: url('../fonts/circeRegular/Circe-Regular.eot');
src: url('../fonts/circeRegular/Circe-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/circeRegular/Circe-Regular.woff') format('woff'),
url('../fonts/circeRegular/Circe-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
    font-family: 'Circe Bold';
    src: url('../fonts/circleBold/Circe-Bold.eot');
    src: url('../fonts/circleBold/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/circleBold/Circe-Bold.woff') format('woff'),
    url('../fonts/circleBold/Circe-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin reg {
    font-family: 'Circe Regular' , sans-serif;
    font-weight: normal;
    color: $text-color;
    line-height: 24px;
}

@mixin bold {
    font-family: 'Circe Bold' , sans-serif;
    font-weight: normal;
    color: $text-color;
    line-height: 24px;
}


@mixin light {
    font-family: 'Circe Extra Light' , sans-serif;
    font-weight: normal;
    color: $text-color;
    line-height: 24px;
    font-size: 14px;
}