.info
    background: #3EB5F1;
    &-block 
        &__list 
            display: flex
            justify-content: space-between
        &__num 
            margin-top: 40px
            font-size: 48px;
            color: #6B66A9;  
        &__text 
            max-width: 265px
            margin-top: 5px
            margin-bottom: 35px
            color: #fff
            font-size: 16px
        &__decorate
            color: #6B66A9;  
            margin-right: 5px 


            
            