.info
    background: #2F4858
    &-block 
        &__list 
            display: flex
            justify-content: space-between
        &__num 
            margin-top: 40px
            font-size: 48px
            color: #3EB5F1
        &__text 
            max-width: 265px
            margin-top: 5px
            margin-bottom: 35px
            color: #fff
            font-size: 16px
        &__decorate
            color: #3EB5F1
            margin-right: 5px 


            
            