$primary-color: #72DBA3
$title-color: #E27488
$text-color: #00110A

*, ::before, ::after
  box-sizing: border-box
body 
   +reg
   font-size: 16px
.container 
  width: 1440px
  max-width: 100%
  margin: 0 auto
  padding: 0 135px
img 
  max-width: 100%
  height: auto
li 
  list-style-type: none  

h1
  font-weight: 500
  font-size: 64px
  margin: 0
h3
  font-weight: 500
  font-size: 24px
  margin: 0
  line-height: 35px
h2 
  margin: 0
  +reg 
  font-size: 48px
  color: $title-color
  line-height: 35px
p 
  margin: 0
ul 
  margin: 0
  padding: 0
a 
  text-decoration: none
  color: $text-color
button 
  cursor: pointer
  outline: 0
.text-decorate
   color: #57A773
   font-weight: 700


@media (max-width: 1290px)
  .container
    width: 992px
    padding: 0px 30px
@media (max-width: 992px)
  .container
    width: 768px
  h2 
    font-size: 24px
    line-height: 35px

    
    

    